{
  "Main": {
    "MainTimerModuleId": 1,
    "MainTimerModuleTimeAddress": 1,
    "MainTimerModuleStartExperimentAddress": 0
  },
  "RfId": {
    "BusId": 0,
    "LineId": 0,
    "ClockFrequencySpi": 1000000
  },
  "Serial": {
    "Port": "COM3",
    "BaudRate": 19200
  },
  "DataBase": {
    "FileName": "Flotomachine.db"
  }
}